node_modules
.eslintcache
.stylelintcache
bun-debug.log*
npm-debug.log*
apps/*/node_modules
apps/*/.next
apps/backend/generated
apps/*/bun-debug.log*
apps/*/npm-debug.log*
apps/*/bun.lockb
apps/*/tsconfig.tsbuildinfo
.DS_Store
.env
