node_modules
next-env.d.ts
.stylelintcache
bun-debug.log*
npm-debug.log*
.next
generated
bun.lockb
tsconfig.tsbuildinfo
.DS_Store
.env
caddy-local-root.crt
public/uploads
.playwright-browsers
playwright-report
test-results
output/playwright
